body {
    padding-top: 70px; /*the height of my navbar*/
}

/*---------------------------------------------Navbar */
.navbar {

}

.navbar-brand {
    font-family: 'Bungee Inline', cursive;
    font-size: 1.9rem;
}

.nav-item {
    margin-left: 2rem;
    text-transform: uppercase;
    font-size: 1rem;
}
.btn {
    font-size: 1.6rem;
}


/*---------------------------------------------Header */

.hero {
    background: url(assets/images/hero.jpg) no-repeat   ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;    
    height: 89vh;
    align-items: center;
    position: relative;
}

.opaque-overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(34, 33, 33, 0.3);
}

.display-1 {
    font-family: 'Monoton', cursive;
    font-weight: 300;
    font-size: 10vmin;
    color: rgb(255, 255, 255);
    padding: 12vmin 0 2vmin;  
}

.lead {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 3vmin;
    color: rgb(255, 255, 255);
    padding-bottom: 3vmin;
}


/*---------------------------------------------News*/

.carousel-control-prev-icon {
    left: 0;
}

.bg-color-news {
    background-color: beige;
}

.news-title {
    font-family: 'Bungee Inline', cursive;
    font-size: 8vmin;
}

.news-item {
    font-family: 'Londrina Solid', cursive; 
    font-size: 5vmin;
}

.date {
    font-weight: 500;
    color: rgb(1, 1, 255);
}

.paradate {
    color: rgb(253, 0, 0);
}

.carousel-text {
    font-weight: 400;
    font-size: 1.2rem;
    padding-bottom: 40px;
} 

.bg-carousel {
    background-color: rgb(189, 187, 185);
}

#newsletter {
    background-color: #172349;
    border-right: 3px solid #c3b232;
    border-bottom: 3px solid#c3b232;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
}

#newsletter p {
    margin: 0;
    padding-top: 0;
    padding-bottom: 14px;
    color: #fafae6;
}

#newsletter h2 {
    color: #fafae6;
    text-shadow: none;
    margin-top: 0px;
    border-bottom: 4px solid #fafae6;
}

.emailAddress {
    border-radius: 0%;
    display: inline-block;
    width: auto;  
    background-color: #fafae6;
}

/*---------------------------------------------The Band*/

.row-cards {
    margin-top: 30px;
    margin-bottom: 20px;
}

.the-band-title {
    font-family: 'Bungee Inline', cursive;
    font-size: 8vmin;
    padding: 25px  ;
}

.the-band {
    background-color: rgb(133, 129, 129);
    
}

.bg-band-img {
    background: url(assets/images/the-monkees1.jpg) center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;   
    background-position: center;
    min-height: 55vh;    
}

.the-band-text {
    font-size: 1.2rem;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.card-block {
    background-color: beige;
}

/*---------------------------------------------Our Music*/

.bg-ourmusic {
    background-color: beige; 
}

.ourmusic-title {
    font-family: 'Bungee Inline', cursive;
    font-size: 8vmin;
    padding: 25px  ;
}

.ourmusic-text {
    font-size: 1.1rem;
    font-weight: 500;
}

.ourmusic-btn {
    font-size: 1.6rem;
    margin-top: 20px;
}